<form #countryForm="ngForm" (ngSubmit)="createOrUpdate()">
  
        <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="pond._id" class="form-control"/>
    
    <div class="form-group">
        <label for="name">Pond Name</label>
        <input type="text" name="pondname" #name="ngModel" [(ngModel)]="pond.pondname" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="capital">Pond size in hectares</label>
        <input type="text" name="pondsize" #name="ngModel" [(ngModel)]="pond.pondsize" class="form-control" />
    </div>

   
        <input type="hidden" name="phone" #name="ngModel" [(ngModel)]="pond.phone" class="form-control" />
  

    <input type="submit" value="submit" class="btn btn-success" />
</form>